.container-profile {
    display: flex;
    justify-content: center; 
}

.profile {
    justify-content: center;
    text-align: center;
    margin: auto;
}

.text-profile {
    font-size: 40px;
}

.avatar {
    margin: auto;
    width: 300px;
    height: 300px;
    margin-top: 40px;
    border-radius: 50%;
    background-image: url('../Profile/admin.png');
    background-size: cover;
}

.container-data-author svg {
    width: 30px;
    height: 30px;
}

.star-con {
    display: flex;
    text-align: center;
}